#kaocha/v1
 {:tests [{:id :unit
           :test-paths ["test/"]
           :source-paths ["src"]
           :ns-patterns ["-test$"]}]
  :reporter [kaocha.report/documentation]
  :plugins [:kaocha.plugin/notifier]}